<!doctype html>
<html>
<head>
<title>Booking Management System</title>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<body>
<header><h1>Booking Management System</h1></header>
<section id="content">
  <section id="left">
    <table id="bookingList">
      <thead>
        <tr>
          <th>Booking Reference</th>
          <th>Company</th>
          <th>Course</th>
          <th>Status</th>
          <th>Fare</th>
          <th>Paid by</th>
          <th>Credit</th>
          <th>Credit Expiry</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="9">Total: xxx</td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>XDJ123</td>
          <td>Qantas</td>
          <td>Promo 1/11</td>
          <td>PAID</td>
          <td>$1234.50</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>123456789</td>
          <td>Greyhound</td>
          <td>GST 2/11</td>
          <td>CREDIT</td>
          <td>$34.50</td>
          <td>24 Jul 11</td>
          <td>$34.50</td>
          <td>24 Jan 12</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="right">
    <section id="details">
    </section>
    <section id="sectors">
      <table>
      </table>
    </section>
    <section id="documents">
    </section>
  </section>
</section>
<footer></footer>
</body>
</html>
