<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Booking Management System</title>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<body>
<section id="page">
  <header>
    <hgroup>
      <h1>Booking Management System</h1>
      <h3>Movements Cell - Headquarters No 3 Wing</h3>
    </hgroup>
    <nav><ul>
      <li><a href="#">Active Bookings</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Logout</a></li>
    </ul></nav>
  </header>

  <section id="content">
    <section id="listing">
      <table id="bookingList">
        <caption>Active Bookings</caption>
        <thead>
          <tr>
            <th></th>
            <th>Booking Reference</th>
            <th>Company</th>
            <th>Course</th>
            <th>Status</th>
            <th>Fare</th>
            <th>Paid by</th>
            <th>Credit</th>
            <th>Credit Expiry</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Booking Reference</th>
            <th>Company</th>
            <th>Course</th>
            <th>Status</th>
            <th>Fare</th>
            <th>Paid by</th>
            <th>Credit</th>
            <th>Credit Expiry</th>
            <th></th>
          </tr>
          <tr>
            <td colspan="9">Total: xxx</td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>1</td>
            <td>XDJ123</td>
            <td>Qantas</td>
            <td>Promo 1/11</td>
            <td>PAID</td>
            <td>$1234.50</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>123456789</td>
            <td>Greyhound</td>
            <td>GST 2/11</td>
            <td>CREDIT</td>
            <td>$34.50</td>
            <td><time datetime="2011-07-24">24 Jul 11</time></td>
            <td>$34.50</td>
            <td>24 Jan 12</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="details">
      <section id="editForm">
        <form>
          <div>
            <label>Booking Reference</label>: 
            <input autocomplete="false" type="text" name="ref"></input>
          </div>
          <div>
            <label>Company</label>: 
            <input autocomplete="true" list="company_list" type="text" name="company"></input>
            <datalist id="company_list">
              <option label="CountryLink" value="CountryLink" />
              <option label="Greyhound" value="Greyhound" />
              <option label="Greyhound Charters" value="Greyhound Charters" />
              <option label="Qantas" value="Qantas" />
            </datalist>
          </div>
          <div>
            <label>Course</label>: 
            <input autocomplete="true" type="text" name="course"></input>
          </div>
          <div>
            <label>Status</label>: 
            <select name="status">
              <option value="unpaid" selected="true">UNPAID</option>
              <option value="paid">PAID</option>
              <option value="credit">CREDIT</option>
              <option value="cancel">CANCELLED</option>
            </select>
          </div>
          <div>
            <label>Fare</label>: 
            <input autocomplete="false" type="number" name="fare"></input>
          </div>
          <div>
            <label>Paid by</label>: 
            <input autocomplete="false" type="date" name="paid_by"></input>
          </div>
          <div>
            <label>Credit</label>: 
            <input autocomplete="false" type="number" name="credit"></input>
          </div>
          <div>
            <label>Credit Expiry</label>: 
            <input autocomplete="false" type="date" name="credit_expiry"></input>
          </div>
          <div>
            <input type="submit">Submit</button>
          </div>
        </form>
      </section>
      <details id="sectors">
        <summary>Sectors</summary>
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Date</th>
              <th>Service</th>
              <th>PAX</th>
            </tr>
          </thead>
          <tfoot>
          </tfoot>
          <tbody>
          </tbody>
        </table>
      </details>
      <details id="documents">
        <summary>Related Documents</summary>
        <ul>
          <li><a href="#">Doc 1</a></li>
        </ul>
      </details>
    </section>
  </section>

  <footer></footer>
</section>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="jquery.scrollTo-1.4.2/jquery.scrollTo-min.js"></script>
<script src="script.js"></script>-->

</body>
</html>
